@{
    ViewBag.Title = "Home";
}

<section class="row">
    <div class="col-xs-12">
        <div class="hero-image">
            <h1 class="hero-overlay-text">
                Cole Smith <br />Photography
            </h1>
        </div>
    </div>
</section>
<section class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">

        <img src="~/Images/160417_091027_7453_GPR6.jpg" />
    </div>
    <div class="col-xs-12 col-sm-5">
        <h2>About Me</h2>
        <p>
            I'm a professional photographer in the Indianapolis, Indiana area with six years of experience, specializing in weddings, engagements, maternity, family, special events, and senior portraits. My style is versatile and personalized to my clients' needs. You will receive a mix of traditional, lifestyle, spontaneous, and creative photos.
            <br />
            I love travelling, exploring new places, and I'm ready to meet you wherever you are. Your images can be taken anywhere whether it's at your home, a park, indoor building, or a local venue.
            <br />
            I love photography because I love people. My first photography experience began with taking pictures for Butler University's Office of Admission, capturing campus life and events. My goal is to make each photo shoot relaxed and enjoyable for my clients. Each individual is unique, so I aim to make each album one-of-a-kind.
            <br />
            The reason I can keep my prices low is because I market myself through word-of-mouth advertising. My hope is to develop an authentic relationship with each client and ensure utmost satisfaction.
        </p>
    </div>
</section>

<section class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
        <form class="form-group">
            <input type="text" placeholder="First Name" maxlength="30" />
            <input type="text" placeholder="Last Name" max="40" />
        </form>
    </div>
    <div class="col-xs-12 col-sm-5">

    </div>
</section>